{
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "dist/**/*.d.ts",
    "src/**/index.ts",
    "src/**/*.test.ts"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "all": true
}
